.footer{
    &__box{
        display: flex;
        justify-content: space-between; 
        width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
    background-color: #0c0724;
    &__ul{
        color: white;
        width: 1000px;
    }
}
.logo1{
    width: 40px;
    height: 40px;
}



.icons{
    display: flex;
    justify-content: space-between;

}